/*
	This would be your main styles.scss where you include
	all your parials. You would want to include the placeholder mixin
	in the same area where you would define your other mixins.

	Alternatively, you could just copy the mixin declaration into where
	your mixins are kept
*/
/*
	@param $width (px, em, percentage, null)
	@param $height (px, em, percentage, null)
	@param $ratio (decimal) height to width ratio, ie: 0.5 would correspond to a ratio of height: 0.5, width: 1, or 250px to 500px
	@options $options (map) The following options can be specified:
		use-ratio-height: The height can be forced to be calculated as a ratio, given that the units are the same as the width


	Provide one of the following sets of parameters to create a placefolder:
		width and height
		width and ratio
		height and ratio
		ratio
*/
/*
	@param $width  Width of the placeholder
	@param $height  Height of the placeholder

	Quick little calculation to determine the height to width ratio
*/
/*
	@param $unit1 (css unit)
	@param $unit2 (css unit)

	Returns true if the units match, ie 25px and 50px, and false if they don't.
*/
/*
	@param unit

	Helper function to ensure that a unit is specified. If a number is provided and no units, px wil be forced
*/
/* line 1, ../../src/scss/_style-helpers.scss */
.placeholder, place-holder {
  outline: 1px dashed #6F8FA2;
}

/* line 5, ../../src/scss/_style-helpers.scss */
.placeholder, place-holder {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'> <path d='M100 0 L0 100' stroke='silver' stroke-width='1' fill='none' /><path d='M0 0 L100 100' stroke='silver' stroke-width='1' fill='none' /></svg>");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%, auto;
}

/* line 12, ../../src/scss/_style-helpers.scss */
.placeholder, place-holder {
  background-color: #cccccc;
}

/*
	VARS
*/
/*
	FONTS
*/
/* line 10, ../scss/_base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: "Quicksand", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: lowercase;
}

/* line 16, ../scss/_base.scss */
h1 {
  font-size: 2.5em;
}

/* line 20, ../scss/_base.scss */
h2 {
  font-size: 2em;
}

/* line 24, ../scss/_base.scss */
body, p {
  color: #fff;
  font-size: 22px;
  font-family: 'Droid Serif', serif;
}

/* line 30, ../scss/_base.scss */
p {
  line-height: 1.5em;
  letter-spacing: 0.03em;
  margin: 1.5em 0;
}

/* line 36, ../scss/_base.scss */
pre {
  background-color: #fff;
  border-radius: 5px;
  color: #256F5B;
  font-family: "Droid Sans Mono", "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 0.8em;
  margin: 2em;
  padding: 1em;
  overflow: scroll;
}
/* line 46, ../scss/_base.scss */
pre::selection {
  background-color: rgba(37, 111, 91, 0.35) !important;
}

/*
	PLACEHOLDER STYLING
*/
/* line 55, ../scss/_base.scss */
.placeholder, place-holder {
  box-sizing: border-box;
}

/*
	STYLING	
*/
/* line 67, ../scss/_base.scss */
html, body {
  background-color: #256f5b;
}

/* line 71, ../scss/_base.scss */
html {
  margin: 0;
  padding: 0;
}

/* line 76, ../scss/_base.scss */
body {
  border: 1em solid white;
  box-sizing: border-box;
  margin: 0;
  padding: 0 3em;
}
/* line 82, ../scss/_base.scss */
body ::selection {
  background-color: rgba(255, 255, 255, 0.35);
}

/* line 89, ../scss/_base.scss */
header h1 {
  font-size: 4em;
  letter-spacing: 0.2em;
  margin: 1em;
  text-align: center;
}
/* line 96, ../scss/_base.scss */
header .intro {
  margin-bottom: 3em;
  text-align: center;
}
/* line 101, ../scss/_base.scss */
header .methods {
  text-align: left;
}
/* line 106, ../scss/_base.scss */
header ul {
  padding-left: 2em;
}
/* line 109, ../scss/_base.scss */
header ul li {
  margin-top: 0.5em;
  padding-left: 0.75em;
}
/* line 115, ../scss/_base.scss */
header place-holder {
  margin-top: 0.75em;
  margin-left: auto;
  margin-right: auto;
}

/* line 122, ../scss/_base.scss */
.example {
  border-top: 1px dashed white;
  padding: 2em 0;
}
/* line 126, ../scss/_base.scss */
.example .placeholder, .example place-holder {
  display: block;
  margin: auto;
}

/*
	BASIC LAYOUT
*/
/* line 135, ../scss/_base.scss */
header, section, footer {
  margin: auto;
  max-width: 960px;
}

/* line 140, ../scss/_base.scss */
header, section {
  margin-bottom: 3em;
}

/* line 145, ../scss/_base.scss */
section *:first-child {
  margin-top: 0;
}

/* line 57, ../../src/scss/_placeholder-mixin.scss */
.placeholder-mixin .ratio #ratio-only:after {
  content: '';
  display: inline-block;
  padding-top: 30%;
  width: 0;
}
/* line 8, ../scss/_placeholder-mixin-example.scss */
.placeholder-mixin .ratio #ratio-with-width-px {
  width: 320px;
}
/* line 57, ../../src/scss/_placeholder-mixin.scss */
.placeholder-mixin .ratio #ratio-with-width-px:after {
  content: '';
  display: inline-block;
  padding-top: 80%;
  width: 0;
}
/* line 12, ../scss/_placeholder-mixin-example.scss */
.placeholder-mixin .ratio #ratio-with-width-per {
  width: 60%;
}
/* line 57, ../../src/scss/_placeholder-mixin.scss */
.placeholder-mixin .ratio #ratio-with-width-per:after {
  content: '';
  display: inline-block;
  padding-top: 45%;
  width: 0;
}
/* line 20, ../scss/_placeholder-mixin-example.scss */
.placeholder-mixin .units #width-px-height-px {
  width: 250px;
  height: 320px;
}
/* line 24, ../scss/_placeholder-mixin-example.scss */
.placeholder-mixin .units #width-per-height-per {
  width: 60%;
}
/* line 57, ../../src/scss/_placeholder-mixin.scss */
.placeholder-mixin .units #width-per-height-per:after {
  content: '';
  display: inline-block;
  padding-top: 25%;
  width: 0;
}
/* line 28, ../scss/_placeholder-mixin-example.scss */
.placeholder-mixin .units #width-px-height-per {
  width: 400px;
}
/* line 57, ../../src/scss/_placeholder-mixin.scss */
.placeholder-mixin .units #width-px-height-per:after {
  content: '';
  display: inline-block;
  padding-top: 60%;
  width: 0;
}
/* line 32, ../scss/_placeholder-mixin-example.scss */
.placeholder-mixin .units #width-per-height-px {
  width: 30%;
  height: 420px;
}
